* {box-sizing:border-box}
body {
    background: #3d3d3d;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 1.5;
    word-wrap: break-word;
    color: #f2f2f2;
    user-select: none;
    font-size: 14px;
}
.center {
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 15px;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
img,.preface {
    max-width: 90%;
    max-height: 66vh;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

.photo-desc {
    max-height: 30vh;
    max-width: 850px;
    width: 80%;
    text-align: left;
    display: block;
    margin: 0 auto;
    padding: 5px 0px 0px 0px;
    text-indent: 1em;
}

.exif {
  list-style-type: square;
  -webkit-column-width: 180px;
  -moz-column-width: 180px;
  column-width: 180px;
  -webkit-column-count: 3; /* max count */
  -moz-column-count: 3;
  column-count: 3;
  text-align: left;
  margin: 0;
}

.preface {
  width: 600px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 75vh;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 1vw;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption-area {
  padding: 8px 12px;
  bottom: -22px;
  text-align: center;
  position: absolute;
  width: 100%;
}
.caption-text {
  font-size: 16px;
  font-style: italic;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.nav-bar {
  text-align:center;
  padding-top: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.0s;
  animation-name: fade;
  animation-duration: 1.0s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

// popup

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
}

.popup:hover {
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  max-width: 900px;
  width: 80%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fade 1s;
  animation: fade 1s
}